body {
    font-family: "Comic Sans MS", cursive, sans-serif

}
.header {
    padding: 30px;
    background-color: cadetblue;
    color: white;
}
.header p {

    font-size: 15px;
    margin-top: 0px;
}
